body {
	background: url("assets/menu_backgroung.png") no-repeat center fixed;
	background-size: cover;
}

canvas {
	margin-left: auto; 
	margin-right: auto;
	margin-top: auto; 
	margin-bottom: auto;
	position: absolute;
	left: 0; 
	right: 0;
	top: 0; 
	bottom: 0; 	
}
#gameContainer {
	width: 100%;
	text-align: center;
	display: none;
}

#gameBackground {
	border: solid thin red;
	z-index: 1;
}

#gameWindow {
	z-index: 2;
}

#gameInfo {
	z-index: 3;
	font-family: monospace;
	font-size: 2em;
	text-shadow: 2px 2px black;
	color: red;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0; 
	right: 0; 
	width: 30%;
	display: block;
	background: rgba(130, 125, 125, 0.5);
	border: 5px solid black;
	border-radius: 7px;
}

#title {
	font-family: "Copperplate";
	font-size: 3em;
	margin: auto;
	color: red;
	text-shadow: 2px 2px black;
}

#mainMenu {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	font-family: "Verdana";
	font-size: 2em;
	text-align: center;
	z-index: 4;
}

#menuFlex {
	display: flex;
	align-items: center;
	flex-flow: column; 
}

#newGame, #continueGame {
	vertical-align: middle;
	border: 5px solid black;
	border-radius: 7px;
	background-color: white;
	color: red;
	width: 10em;
	margin: 10px auto;
	padding: 10px;
	text-shadow: 1px 1px maroon;
}

#newGame:hover, #continueGame:hover {
	background-color: red;
	color: white;
	font-weight: bold;
	width: 11em;
}

#continueGame, #gameOver, #finalScore {
	display: none;
}

#gameOver {
	font-family: "Impact";
	font-weight: bold;
	font-size: 5em;
	color: red;
	text-shadow: 2px 2px white;
}

#finalScore {
	font-size: 2em;
	color: red;
	text-shadow: 2px 2px white;
}

#controlsTooltip {
	border: 5px solid black;
	border-radius: 7px;
	line-height: 1.5;
	background: rgba(130, 125, 125, 0.5);
	padding: 15px;
	font-style: oblique;
	color: white;
	text-shadow: 2px 2px black;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

mark {
	background-color: white;
	border-radius: 7px;
	border: 1px solid black;
	padding: 2px;
	color: red;
	font-style: normal;
	text-shadow: 1px 1px maroon;
}