html, body {
	background: url("assets/menu_backgroung.png") no-repeat center fixed;
	background-size: cover;
	height: 100%;
	min-height: 100%;
	margin: 0;
	user-select: none;
}

canvas {
	margin-left: auto; 
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 0; 
	bottom: 0; 	
}
#gameContainer {
	width: 100%;
	text-align: center;
	display: none;
}

#gameBackground {
	border: solid thin red;
	z-index: 1;
}

#gameWindow {
	z-index: 2;
	cursor: crosshair;
}

#gameInfo {
	z-index: 3;
	font-family: monospace;
	font-size: 2em;
	text-shadow: 2px 2px 4px black;
	color: red;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 1vh;
	width: 30%;
	display: block;
	background: rgba(130, 125, 125, 0.1);
	border: solid thin red;
	backdrop-filter: blur(4px);
}

#title {
	font-family: "Copperplate";
	font-size: 3em;
	color: red;
	text-shadow: 2px 2px black;
	border-bottom: solid thin red;
	background: rgba(130, 125, 125, 0.2);
	margin-bottom: 5vh;
}

#mainMenu {
	height: 100%;
	width: 100%;
	font-family: "Verdana";
	font-size: 2em;
	text-align: center;
	z-index: 4;
	display: flex;
	flex-flow: column;
	align-items: center;
	position: absolute;
}

#menuFlex {
	background: rgba(130, 125, 125, 0.1);
	width: 50%;
	flex: 1 1 auto;
	box-shadow: 0 30px 40px 40px rgba(0,0,0,.6);
	backdrop-filter: blur(4px);
	border: solid thin red;
	border-bottom: none;
	border-top: none;
	overflow-y: auto;
	scrollbar-color: red white;
	scrollbar-width: thin;
}

#menuFlex::-webkit-scrollbar {
    width: 5px;
}

#menuFlex::-webkit-scrollbar-track {
  background-color: white;
  box-shadow: inset 0 0 5px black; 
  border-radius: 15px;
}

#menuFlex::-webkit-scrollbar-thumb {
  background-color: red; 
  border-radius: 15px;
}

#menuFlex::-webkit-scrollbar-thumb:hover {
  background: maroon; 
}

#newGame, #continueGame {
	background: rgba(130, 125, 125, 0.2);
	vertical-align: middle;
	border: ridge thick red;
	backdrop-filter: blur(40px);	
	color: red;
	width: 10em;
	margin: 10px auto;
	padding: 10px;
	text-shadow: 1px 1px black;
	cursor: pointer;
}

#newGame:hover, #continueGame:hover {
	background: rgba(255, 0, 0, 0.25);
	border: ridge thick white;
	color: white;
	width: 12em;
	font-size: 1.1em;
}

#continueGame, #gameOver, #finalScore {
	display: none;
}

#gameOver {
	font-family: "Impact";
	font-weight: bold;
	font-size: 3em;
	color: white;
	text-shadow: 6px 6px red;
}

#finalScore {
	font-size: 1.5em;
	color: white;
	text-shadow: 2px 2px black;
	font-style: oblique;
}

#controlsTooltip {
	border: solid thin red;
	line-height: 1.5;
	background: rgba(130, 125, 125, 0.1);
	padding-top: 10px;
	padding-bottom: 10px;
	font-style: oblique;
	color: gray;
	text-shadow: 2px 2px black;
	box-shadow: 0 30px 40px 40px rgba(0,0,0,.6);
	flex: 0 1 auto;
	backdrop-filter: blur(4px);
	width: 99%;
}

mark {
	background: none !important;
	color: red;
	font-style: normal;
	text-shadow: 1px 1px black;
}