body {
	background: url("../assets/menu_backgroung.png") no-repeat center fixed;
	background-size: cover;
	min-height: 100%;
	margin: 0;
	user-select: none;
	cursor: url("../assets/cursor.svg"), auto;
}

canvas {
	margin-left: auto; 
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
#gameContainer {
	width: 100%;
	height: 100%;
	text-align: center;
	display: block;
	opacity: 0;
	position: absolute;
	z-index: 0;
}

#gameBackground {
	border: solid thin red;
	z-index: 1;
}

#gameWindow {
	z-index: 2;
	cursor: url("../assets/cursor_crosshair.svg") 16 16, crosshair;
}

#gameInfo {
	z-index: 3;
	font-family: monospace;
	font-size: max(2rem, 18px);
	text-shadow: 2px 2px 4px black;
	color: red;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width: 30rem;
	background: rgba(130, 125, 125, 0.1);
	border: solid thin red;
	backdrop-filter: blur(4px);
}

#title {
	font-family: "Copperplate";
	font-size: max(5rem, 40px);
	color: red;
	text-shadow: 2px 2px black;
	border-bottom: solid thin red;
	background: rgba(130, 125, 125, 0.2);
}

#mainMenu {
	min-width: 100%;
	height: 100%;
	font-family: "Verdana";
	font-size: max(2rem, 18px);
	text-align: center;
	z-index: 4;
	display: flex;
	flex-flow: column;
	align-items: center;
	position: absolute;
	overflow: auto;
	scrollbar-color: red gray;
	scrollbar-width: thin;
}

#mainMenu::-webkit-scrollbar {
    width: 5px;
}

#mainMenu::-webkit-scrollbar-track {
	background-color: white;
	box-shadow: inset 0 0 5px black;
	border-radius: 15px;
}

#mainMenu::-webkit-scrollbar-thumb {
	background-color: red;
	border-radius: 15px;
}

#mainMenu::-webkit-scrollbar-thumb:hover {
	background: maroon;
}

#menuFlex {
	background: rgba(130, 125, 125, 0.1);
	min-width: 50%;
	flex: 1 1 auto;
	box-shadow: 0 30px 40px 40px rgba(0,0,0,.6);
	backdrop-filter: blur(4px);
	border: solid thin red;
	border-bottom: none;
	border-top: none;
	display: flex;
	flex-flow: column;
}

#menuButtonsFlex {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	flex-basis: 100%;
	gap: 2vh;
	margin-top: 2vh;
	margin-bottom: 2vh;
}

.menuItem {
	width: 70%;
}

.menuButton {
	background: rgba(130, 125, 125, 0.2);
	border: ridge 5px red;
	backdrop-filter: blur(40px);
	color: red;
	width: 70%;
	padding: 10px;
	text-shadow: 1px 1px black;
	cursor: url("../assets/cursor_pointer.svg"), pointer;
	box-shadow: 0 0 10px black;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	flex: 1;
	max-height: 10rem;
	min-height: 5rem;
	font-size: max(2rem, 18px);
	transition-duration: 0.1s;
}

.menuButton:hover {
	background: rgba(255, 0, 0, 0.25);
	border: ridge 5px white;
	color: white;
	width: 75%;
	font-size: max(2.1rem, 20px);
}

#menuSelection {
	color: red;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: flex-end;
	gap: 2vh;
}

#menuSelectionInner {
	width: 100%;
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: center;
	gap: 2vh;
	flex: 1;
}

#difficultyTooltip {
	font-size: max(1.5rem, 16px);
	border: solid thin red;
	text-shadow: 1px 1px black;
	background: rgba(130, 125, 125, 0.2);
	padding: 10px;
}

.selectionItem + label {
	cursor: url("../assets/cursor_pointer.svg"), pointer;
	background: rgba(130, 125, 125, 0.2);
	border: groove thick red;
	backdrop-filter: blur(40px);
	flex: 1;
	padding: 10px;
	transition-duration: 0.1s;
}

.selectionItem + label:hover {
	color: white;
	background: rgba(255, 0, 0, 0.25);
	border-left: ridge 8px white;
	border-right: ridge 8px white;
	border-top: ridge thick white;
	border-bottom: ridge thick white;
}

.selectionItem {
    display: none;
}

.selectionItem:checked + label{
	color: white;
	background: rgba(255, 0, 0, 0.25);
	border: ridge thick white;
}

.pauseMenuItem, .endScreenItem {
	display: none;
}

.mainMenuExclusiveItem {
	display: flex;
}

#gameOver {
	font-family: "Impact";
	font-weight: bold;
	font-size: max(4rem, 24px);
	color: red;
	text-shadow: 2px 2px white;
}

#finalScore {
	font-size: max(2.5rem, 20px);
	color: white;
	text-shadow: 2px 2px black;
	font-style: oblique;
	margin-bottom: 5vh;
}

#controlsTooltip {
	border-top: solid thin red;
	line-height: 1.5;
	background: rgba(130, 125, 125, 0.1);
	padding: 10px;
	font-style: oblique;
	color: gray;
	text-shadow: 2px 2px black;
	box-shadow: 0 30px 40px 40px rgba(0,0,0,.6);
	flex: 0 1 auto;
	backdrop-filter: blur(4px);
}

mark {
	background: none !important;
	color: red;
	font-style: normal;
	text-shadow: 1px 1px black;
}

#scoreMenu {
	display: none;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	color: white;
	font-family: monospace;
	flex: 1;
}

#scoreMenuTitle {
	font-size: max(3.5rem, 20px);
	font-weight: bold;
	text-shadow: 1px 1px black;
	color: white;
	display: none;
}

.noScores {
	text-align: center;
	color: red;
	text-shadow: 1px 1px black;
}

table {
	width: 100%;
	border-collapse: collapse;
}

caption {
	text-align: center;
	font-family: "Verdana";
	font-weight: bold;
	border: solid thin red;
	text-shadow: 1px 1px black;
	background: rgba(130, 125, 125, 0.2);
	padding: 10px;
}

tr {
	border-bottom: dotted thin red;
	text-align: left;
}

tr:last-child {
	border-bottom: none;
}

td:first-child {
	width: 1ch;
}

td:nth-child(2) {
	width: 30ch;
	padding-left: 1ch;
	padding-right: 1ch;
}